@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    margin:0;
    padding: 0;
    object-fit: cover;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #0D1323;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard{
    display: grid;
    grid-template-columns:repeat(4,14rem);
    gap:2rem;
}
.slider{
    grid-row: 1 / span 2;
    background-color:#1D204B; 
    overflow: hidden;
    border-radius: .6rem;
}


.slider>.user{
    background-color: #5746EA;
    border-radius: 0 0 .6rem .6rem;
    padding: 1rem;
}




.slider>.user>.avatar{
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    border:solid .2rem white;
}
.slider .user>.information{
    padding-top: 1.4rem;
    padding-bottom: 3rem;
}
.slider .user>.information .position{
    color:#A29BFF;
    font-weight: 300;
    font-size: .8rem;
}

.slider>.nav{
    padding: 1rem;
    padding-top: .4rem;
    background-color: #1D204B;
}

.nav{ 
    display: flex;
    flex-direction: column;
}
.nav .item{
    color:#6C6FA6;
    padding:.4rem 0;
    cursor: pointer;
}
.nav .item:hover{
    color:#E4E9F1;
}



.card{
    overflow: hidden;
    border-radius: .6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 0 7px #121b31, 0px 0px 0 13px #0d1323;
    transition: all .2s ease;
}
.card:hover{
    box-shadow: 0px 0px 0 7px #121b31, 0px 0px 0 13px #1e2a49; 
}

.card>.front-page{
    position: relative;    
    width: 100%;
    height:2.2rem;
    overflow: hidden;  
}

.card>.front-page>img{
    width: 2.8rem;
    height: 2.8em;
    top:-.4rem;
    right: .8rem;
    position: absolute;
    animation-direction: alternate;
  
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.card:hover img{
    animation-name: animar;
}
@keyframes animar{
    from{
        right: .8rem;
    }
    to{
        right: 80%;
    }
}

.card>.content{ 
    padding: 1rem;
    padding-bottom: 2rem;
    background-color: #1D204B;
    border-radius:.6rem .6rem 0 0;
    cursor: pointer;
}
.card>.content:hover{
    background-color: #34397B;
}
.card>.content>.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    padding-bottom: .8rem;
}






.points{
    cursor: pointer;
}
.points:hover svg>path{
    fill:white;
}
.points svg path {
    transform: scale(0.8);
}





.name{
    color:#FBF8FF;
    font-size: .8rem;
}
.slider .name{
    font-size: 2rem;
    font-weight: 300;
}
.card .details .hour{
    color:#FBF8FF;
    font-size: 2.4rem;
    font-weight: 300;
}
.card .details .week{
    color:#8D91BE;
    font-size: .8rem;
    font-weight: 300;
}



@media(max-width:1000px){
    .dashboard{
        grid-template-columns:repeat(3,14rem);
    }
}

@media(max-width:750px){
    .container{
        height: auto;
        padding: 4rem 0;
    }
    .dashboard{
        grid-template-columns:repeat(2,14rem);
    }
}

@media(max-width:520px){

    .dashboard{
        grid-template-columns:repeat(1,1fr);
        width: 100%;
        padding: 0 1rem;
    }

    .slider>.user{
        display: flex;
        gap:1rem;
    }

    .slider>.nav{
        padding: 1rem;
    }

    .slider .user>.information{
        padding-top: 0;
        padding-bottom: 0;
    }

    .nav{ 
        flex-direction: row;
        justify-content: space-between;
    }

    .slider>.user>.avatar{
        flex-shrink: 0;
    }


    .card .details{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card .details .hour{
        font-size: 2rem;
        font-weight: 300;
    }
    .card .details .week{
        font-size: 1rem;
    }

    .card>.content{   
        height: auto;
        padding: 2rem 1rem;
    }
    .card>.content>.header{
        padding-bottom: 0;
    }

    .slider .user>.information{
        padding-top: 1;
    }

}






img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}



.card.colorA,.card.colorA>.front-page{
    background-color: #FF8B64;
}
.card.colorB,.card.colorB>.front-page{
    background-color: #56C2E6;
}
.card.colorC,.card.colorC>.front-page{
    background-color: #FF5E7D;
}
.card.colorD,.card.colorD>.front-page{
    background-color: #4BCF83;
}
.card.colorE,.card.colorE>.front-page{
    background-color: #7235D1;
}
.card.colorF,.card.colorF>.front-page{
    background-color: #F1C65C;
}
